body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(0,123,255,1) 96%);
    color: white;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:  rgba(0,123,255,1);;
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .container1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(7, 7, 7);
    text-align: center;
    border: 1px solid #131111;
    padding: 2px;
    border-radius: 75px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #counter {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 30px;
    background-color:  rgb(7, 7, 7);
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
  
  button#decrement {
    background-color: #f44336; /* Red */
  }
  
  button#decrement:hover {
    background-color: #d32f2f; 
    transform: translateY(-2px);
  }
